Q1. How do you comment code in Python? What are the different types of comments?

-->  Single-line comments: These comments start with a hash (#) symbol and continue to the end of the line.
     Multi-line comments: These comments are enclosed in triple quotes (""" or ''').

Q2. What are variables in Python? How do you declare and assign values to variables?

--> A Variable is a named location in memory that stores a value. Variables are used to store data that can be used later in the program.
To declare a variable in Python, you simply give it a name and assign it a value.

In [1]:
name = "Rahul"
age = 20
height = 1.6

Q3. How do you convert one data type to another in Python?

--> int(): Converts a string or a floating-point number to an integer.
float(): Converts a string or an integer to a floating-point number.
str(): Converts an integer, a floating-point number, or a complex number to a string.
list(): Converts a string, a tuple, or a range to a list.
tuple(): Converts a list or a string to a tuple

In [2]:
string = "123"
print(type(string))
integer = int(string)
print(type(integer))

<class 'str'>
<class 'int'>

Q4. How do you write and execute a Python script from the command line?


   --> python script_name.py
       python hello.py
       # This is a Python script that prints "Hello, world!"

        print("Hello, world!")
        python hello.py
        This would execute the Python script and print "Hello, world!" to the console.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [4]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

--> Complex number is combination of Real number and Imaginary Number

In [9]:
complex_no = 9 + 5j
print(type(complex_no))
print("Real number : ", complex_no.real)
print("Imaginary number :" ,complex_no.imag)

<class 'complex'>
Real number :  9.0
Imaginary number : 5.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [10]:
age = 25
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [11]:
price = 9.99
print(price)
print(type(price))

9.99
<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [12]:
name = "Rahul Chauhan"
print(name)

Rahul Chauhan

Q10. Given the string "Hello, World!", extract the substring "World".

In [16]:
string = "Hello World!"
string[6:-1]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student = True