Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
string1 = "This is a string."
list1 = [1, 2, 3, 4, 5]
float1 = 3.14159
tuple1 = (1, 2, 3, 4, 5)

print(string1)
print(list1)
print(float1)
print(tuple1)

This is a string.
[1, 2, 3, 4, 5]
3.14159
(1, 2, 3, 4, 5)

Q2. Given are some following variables containing data:
(i) var1 = ' '
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [9]:
var1 = ''
print(type(var1))
var2 = ' DS , ML , Python]'
print(type(var2))
var3 = ['DS','ML','Python']
print(type(var3))
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /   :  It is used to perform division.
(ii) %  :  It is is used to perform modulus.
(iii) // : It is used to perform floor division.
(iv) ** : It is used to perform exponentiation.

In [10]:
# Division
print(5 / 2)  

# Modulus
print(5 % 2)  

# Floor division
print(5 // 2)  

# Exponentiation
print(2 ** 3)

2.5
1
2
8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [15]:
list1 = [ 1 , 3 , 4.5 , "Rahul" , (1,5,6) , [2.3,"R"] , {"name": "Bard", "age": 10},True,"Assingment" , 5.5 ]
for i in list1 :
    print(i ,":", type(i))

1 : <class 'int'>
3 : <class 'int'>
4.5 : <class 'float'>
Rahul : <class 'str'>
(1, 5, 6) : <class 'tuple'>
[2.3, 'R'] : <class 'list'>
{'name': 'Bard', 'age': 10} : <class 'dict'>
True : <class 'bool'>
Assingment : <class 'str'>
5.5 : <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [17]:
A = int(input())
B = int(input())

count = 0 

while A % B == 0:
    A = A // B  
    count += 1  

if count > 0:
    print("A is divisible by B, and it can be divided", count, "times.")
else:
    print("A is not divisible by B.")

 8
 2

A is divisible by B, and it can be divided 3 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [23]:
a = list(range(26))
for i in a :
    if i % 3 == 0:
        print(i , " : " , " Divisible By 3")
    else : 
        print(i , " : " , " Not Divisible By 3")

0  :   Divisible By 3
1  :   Not Divisible By 3
2  :   Not Divisible By 3
3  :   Divisible By 3
4  :   Not Divisible By 3
5  :   Not Divisible By 3
6  :   Divisible By 3
7  :   Not Divisible By 3
8  :   Not Divisible By 3
9  :   Divisible By 3
10  :   Not Divisible By 3
11  :   Not Divisible By 3
12  :   Divisible By 3
13  :   Not Divisible By 3
14  :   Not Divisible By 3
15  :   Divisible By 3
16  :   Not Divisible By 3
17  :   Not Divisible By 3
18  :   Divisible By 3
19  :   Not Divisible By 3
20  :   Not Divisible By 3
21  :   Divisible By 3
22  :   Not Divisible By 3
23  :   Not Divisible By 3
24  :   Divisible By 3
25  :   Not Divisible By 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

--> Mutable data type are those that can be changed or  modified at particular index.
    List is Mutable data type
--> Immutable data type are those that cannot be changed or modified at particular index.
    string is Immutable data type

In [24]:
# Mutable data type example
list1 = [1,2,3]
print(list1)
list1[1] = 4
print(list1)

[1, 2, 3]
[1, 4, 3]

In [25]:
# Immutable data type example
str1 = "Rahul"
print(str1)
str1[1] = "A"
print(str1)

Rahul

TypeError: 'str' object does not support item assignment