In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://rahul:rahul4112@cluster0.1ukl56o.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
db

Database(MongoClient(host=['ac-txtd7bp-shard-00-02.1ukl56o.mongodb.net:27017', 'ac-txtd7bp-shard-00-01.1ukl56o.mongodb.net:27017', 'ac-txtd7bp-shard-00-00.1ukl56o.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-vugywc-shard-0', tls=True), 'test')

In [3]:
db = client['new_database']

In [4]:
data = {
    'name' : 'Rahul',
    'age' : 20
}

In [5]:
collection = db['my_data']

In [6]:
collection.insert_one(data)

# Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [7]:
# Insert one record
record = {"name": "John Doe", "email": "john.doe@example.com"}
collection.insert_one(record)

In [8]:
# Insert many records
records = [{"name": "Jane Doe", "email": "jane.doe@example.com"}, {"name": "Peter Parker", "email": "peter.parker@example.com"}]
collection.insert_many(records)

In [9]:
# Find one record
record = collection.find_one()

# Print the record
print(record)

{'_id': ObjectId('6526bfc52b6344eeb3d4185e'), 'name': 'Rahul', 'age': 20}

In [10]:
# Find all records
records = collection.find()

# Print the records
for record in records:
    print(record)

{'_id': ObjectId('6526bfc52b6344eeb3d4185e'), 'name': 'Rahul', 'age': 20}
{'_id': ObjectId('6526d413f8dd13c71cbe775f'), 'name': 'Rahul', 'age': 20}
{'_id': ObjectId('6526d43bf8dd13c71cbe7760'), 'name': 'John Doe', 'email': 'john.doe@example.com'}
{'_id': ObjectId('6526d44bf8dd13c71cbe7761'), 'name': 'Jane Doe', 'email': 'jane.doe@example.com'}
{'_id': ObjectId('6526d44bf8dd13c71cbe7762'), 'name': 'Peter Parker', 'email': 'peter.parker@example.com'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [11]:
# Find all records with the name "John Doe"
records = collection.find({"name": "John Doe"})

# Print the records
for record in records:
      print(record)

{'_id': ObjectId('6526d43bf8dd13c71cbe7760'), 'name': 'John Doe', 'email': 'john.doe@example.com'}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [13]:
# Find all records and sort them by the "name" field in ascending order
records = collection.find().sort("name", 1)

# Print the records
for record in records:
    print(record)

{'_id': ObjectId('6526d44bf8dd13c71cbe7761'), 'name': 'Jane Doe', 'email': 'jane.doe@example.com'}
{'_id': ObjectId('6526d43bf8dd13c71cbe7760'), 'name': 'John Doe', 'email': 'john.doe@example.com'}
{'_id': ObjectId('6526d44bf8dd13c71cbe7762'), 'name': 'Peter Parker', 'email': 'peter.parker@example.com'}
{'_id': ObjectId('6526bfc52b6344eeb3d4185e'), 'name': 'Rahul', 'age': 20}
{'_id': ObjectId('6526d413f8dd13c71cbe775f'), 'name': 'Rahul', 'age': 20}

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

- delete_one() is used to delete a single record from the database. This is useful when you need to delete a specific record, such as a user account or a product record.

- delete_many() is used to delete multiple records from the database. This is useful when you need to delete a group of records, such as all the records for a specific user or all the records for a specific product category.

 - drop() is used to delete the entire collection. This is useful when you need to delete all the data in a collection, such as when you are clearing out a test database or when you are deleting a collection that you no longer need.