# Q1. Database and Difference between SQL and NoSQL Databases

- A database is a collection of data that is organized in a way that makes it easy to access and manipulate.

- SQL databases use a structured query language (SQL) to access and manipulate data. SQL databases are typical-ly used for relational data, which is data that is organized in tables with rows and columns.

- NoSQL databases use a variety of different data models, including document databases, key-value stores, and graph databases. NoSQL databases are typically used for non-relational data, such as JSON documents, key-value pairs, and graphs.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

 - DDL (Data Definition Language) is used to create, modify, and delete database objects, such as tables, views, and indexes.
 
 **Examples of DDL statements:**

    - CREATE TABLE customers (id INT PRIMARY KEY, name VARCHAR(255), email VARCHAR(255))
    -  DROP TABLE customers
    - ALTER TABLE customers ADD COLUMN phone VARCHAR(255)
    - TRUNCATE TABLE customers

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

- DML (Data Manipulation Language) is used to insert, update, and delete data in database tables.
 **Examples of DML statements:**

    - INSERT INTO customers (name, email) VALUES ('John Doe', 'john.doe@example.com')
    - UPDATE customers SET email = 'jane.doe@example.com' WHERE name = 'Jane Doe'
    - DELETE FROM customers WHERE id = 1

# Q4. What is DQL? Explain SELECT with an example.

- DQL (Data Query Language) is used to retrieve data from database tables.

- The SELECT statement is the most important DQL statement. It is used to select specific columns of data from specific tables.

**Example of a SELECT statement:**

SELECT * FROM customers
(This statement will select all columns of data from the customers table.)

# Q5. Explain Primary Key and Foreign Key.

- A primary key is a column or combination of columns that uniquely identifies each row in a table.

- A foreign key is a column or combination of columns that references the primary key of another table.

- Foreign keys are used to create relationships between tables. For example, an orders table could have a foreign key to the customers table. This foreign key would reference the primary key of the customers table, which is the id column.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
host = 'localhost',
user = 'root',
password = 'password')

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exits test");
mydb.close()

- The cursor() method creates a new cursor object. 
- The execute() method executes an SQL statement and returns the results.

# Q7. Give the order of execution of SQL clauses in an SQL query.

The SQL clauses are executed in the following order:

   - FROM clause
   -  WHERE clause
   - GROUP BY clause
   - HAVING clause
   - ORDER BY clause
   - LIMIT clause

This order of execution is important to understand when writing SQL queries. For example, if you need to filter the results of a query, you need to put the WHERE clause before the GROUP BY clause.