Q1.Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
import pandas as pd
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)
type(series)

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [ ]:
variable = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(variable)
print(series)

Q3. Create a Pandas DataFrame that contains the following data:

In [ ]:
data = {'Name' : ['Alice', 'Bob' , 'Calire' ] , 'Age' : [25,30,27] , 'Gender' : ['Female' , 'Male' , 'Female']}
dataframe = pd.DataFrame(data)
print(dataframe)

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

-->
1.  A DataFrame in pandas is a two-dimensional labeled tabular data structure with rows and columns.
2.  A Series in pandas is a one-dimensional labeled array of data. It is similar to a DataFrame, but it only has one column.
3.  The main difference between a DataFrame and a Series is that a DataFrame has two dimensions, while a Series only has one dimension. This means  that a DataFrame can store multiple columns of data, while a Series can only store one column of data.

In [ ]:
import pandas as pd
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)
type(series)

In [ ]:
data = {'Name' : ['Alice', 'Bob' , 'Calire' ,'Rahul' ,'Umesh' , 'Kunal ' ,'Dev' , 'Krishna '] , 'Age' : [25,30,27,20,22,23,26] , 'Gender' : ['Female' , 'Male' , 'Female' ,, 'Male' , 'Male' , 'Male' , 'Male' , 'Male'   ]}
dataframe = pd.DataFrame(data)
print(dataframe)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
data1 = {'Name' : ['Alice', 'Bob' , 'Calire' ,'Rahul' ,'Umesh' , 'Kunal ' ,'Dev' , 'Krishna '] , 'Age' : [25,30,27,20,22,23,26,15] , 'Gender' : ['Female' , 'Male' , 'Female' , 'Male' , 'Male' , 'Male' , 'Male' , 'Male'   ]}
dataframe1 = pd.DataFrame(data1)
print(dataframe1)

In [ ]:
dataframe1.head()

In [ ]:
dataframe1.tail()

In [ ]:
dataframe1.describe()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

--> All Pandas data structures are value mutable (can be changed) except Series. Series is size immutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
import pandas as pd

s1 = pd.Series([1, 2, 3], name='A')
s2 = pd.Series([4, 5, 6], name='B')
s3 = pd.Series([7, 8, 9], name='C')

df = pd.DataFrame([s1, s2, s3])

print(df)